.#{$prefix}input {
  border: none;
  border-bottom: 1px solid $border-color;
  width: calc(100% - 16px);
  display: block;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: $color;

  &:focus {
    outline: none;
  }
}

.#{$prefix}button {
  border: 1px solid $border-color;
  border-radius: 0;
  display: block;
  height: 16px;
  line-height: 14px;
  font-size: 14px;
  padding: 8px;
  color: $color;

  &:focus {
    outline: none;
  }
}
