// 前缀
$editor: 'xe';
$prefix: 'xe-';
// 颜色
$border-color: #dcdcdc;
//背景色 主背景
$bg-main: #fefefe;
// 工具栏颜色
$menu-color: #f3f3f3;
// 内容颜色
$color: #333;
// 按钮颜色
$icon-color: #dcdcdc;
// 按钮颜色
$icon-color-hover: #999;
// 标题颜色
$title-color: #999;
// 标题颜色
$title-color-active: #333;
// 标题颜色
$title-color-hover: #666;
// 蓝色
$blue: #1996f9;
