.#{$prefix}drag {
  position: absolute;
  top: 33px;
  left: 0;
  width: calc(100% - 2px);

  &-text {
    margin: 0;
    line-height: 100px;
    text-align: center;
    width: 100%;
    border: 1px solid $icon-color;
    background: $white;
  }
}
