@import "./config.scss";
@import "./base.scss";
@import "./icons.scss";
@import "./menu.scss";
@import "./text.scss";
@import "./dialog.scss";
@import "./select.scss";
@import "./table.scss";
@import "./drag.scss";
@import "./palette.scss";

.#{$editor} {
  color: $color;
  position: relative;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $title-color;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $title-color;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: $title-color;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $title-color;
  }

  & * {
    box-sizing: content-box !important;
  }

  &-reset {
    background: $menu-color;
    border: 1px solid $border-color;
    border-top: none;
    text-align: right;
    position: relative;

    &-button {
      width: 0;
      height: 0;
      overflow: hidden;
      border-width: 10px 10px 0 0;
      border-color: transparent #bcbcbc transparent transparent;
      border-style: dashed solid dashed dashed;
      font-size: 0;
      vertical-align: bottom;

      &-box {
        padding: 10px;
        display: inline-block;
        cursor: s-resize;
      }
    }
  }

  & strong,
  & b {
    font-weight: bold !important;
  }

  & i {
    font-style: italic !important;
  }

  & p {
    margin: 10px 0 !important;
    word-break: break-all !important;
    line-height: 1;
  }

  & blockquote {
    margin: 0;
    border-left: 5px solid #ccc;
    padding: 10px 40px;
  }
}
