.#{$prefix}icon {
  width: 16px;
  height: 16px;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    color: $color;
  }
}
