.#{$prefix}menu {
  display: flex;
  border: 1px solid $border-color;
  background: $menu-color;
  flex-direction: row;
  flex-wrap: wrap;

  &-link {
    display: flex;
    margin: 8px;

    &-disable {
      cursor: no-drop;
    }

    &-font {
      text-decoration: none;
    }
  }

  &-area {
    display: flex;
    border-right: 1px solid $border-color;
    margin: 8px 0;

    &:last-child {
      border-right: none;
    }
  }
}
