.#{$prefix}menu {
  display: flex;
  border: 1px solid $border-color;
  background: $menu-color;
  flex-direction: row;
  flex-wrap: wrap;

  &-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    margin: 8px 0 8px 8px;
  }

  &-often,
  &-high {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &-link {
    display: flex;
    margin: 8px;

    &-disable {
      cursor: no-drop;
    }

    &-font {
      text-decoration: none;
    }
  }

  &-area {
    display: flex;
    border-right: 1px solid $border-color;
    margin: 8px 0;

    &:last-child {
      border-right: none;
    }
  }
}
