.#{$prefix}palette {
  min-width: 158px;
  border: 1px solid $border-color;
  position: absolute;
  top: 33px;
  left: calc(50% - 80px);
  user-select:none;
  background: $white;

  &-ok {
    border: 1px solid $border-color;
    border-radius: 1px;
    text-decoration: none;
    text-align: center;
    height: 16px;
    line-height: 16px;
    width: 20%;
    font-size: 12px;
    color: $color;
  }

  &-title {
    margin: 10px 10px 4px;
    font-size: 12px;

    &:first-child {
      margin: 0 0 4px;
    }
  }

  &-standard {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: center;
    font-size: 0;

    &-item {
      width: 14px;
      height: 14px;
      margin: 0 2px 0 0;
      display: inline-block;

      &:last-child {
        margin: 0;
      }
    }
  }

  &-main {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 0;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0 2px 0 0;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }

  &-item {
    width: 14px;
    height: 14px;
  }

  &-diy {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding: 0 10px 10px;

    &-box {
      height: 16px;
      width: 50%;
      border-radius: 1px;
      border: 1px solid $border-color;
      display: flex;
    }

    &-icon {
      font-size: 12px;
      text-align: center;
      color: $color;
      padding: 0 4px;
      line-height: 18px;
      background: $menu-color;
    }

    &-input {
      border: none;
      width: calc(100% - 15px);

      &:focus {
        outline: none;
      }
    }
  }
}
